<main class="main">
  <div class="login">
    <div class="login__container">
      <div class="login__logo">
        <img src="https://zoom.us/account/branding/p/9b08f131-aa56-4330-9576-1edf74ea97c8.png" alt="Logo" />
      </div>
      <div class="login__title">Login in with your account</div>
      <div class="login__form">
        <form>
          <div class="form-group">
            <label for="email">Email</label> <br />
            <input type="email" id="email" name="email" placeholder="test@example.com" /> <br />
          </div>
          <div class="form-group">
            <label for="password">Password</label> <br />
            <input type="password" id="password" name="password" placeholder="123456"/> <br />
          </div>
          <div class="form-group">
            <button type="submit">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

<router-outlet />
